<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.com.kcvs.dao.VehicleMapper">
<select id="findAllVehicle" resultType="com.com.kcvs.domain.Vehicle">
        select * from kcvs_veh
    </select>

<select id="findAllVehicleId" resultType="Integer">
        select port_no from kcvs_port
    </select>
</mapper>